@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

html {   
    box-sizing: content-box;
    font-size:18px;
}

body {
    margin: 0;
    min-height: 100vh;
    background-color: #e4e4e4;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='80' viewBox='0 0 50 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%239C92AC' fill-opacity='0.4'%3E%3Cpath d='M40 10L36.67 0h-2.11l3.33 10H20l-2.28 6.84L12.11 0H10l6.67 20H10l-2.28 6.84L2.11 10 5.44 0h-2.1L0 10l6.67 20-3.34 10h2.11l2.28-6.84L10 40h20l2.28-6.84L34.56 40h2.1l-3.33-10H40l2.28-6.84L47.89 40H50l-6.67-20L50 0h-2.1l-5.62 16.84L40 10zm1.23 10l-2.28-6.84L34 28h4.56l2.67-8zm-10.67 8l-2-6h-9.12l2 6h9.12zm-12.84-4.84L12.77 38h15.79l2.67-8H20l-2.28-6.84zM18.77 20H30l2.28 6.84L37.23 12H21.44l-2.67 8zm-7.33 2H16l-4.95 14.84L8.77 30l2.67-8z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    color:#000;
    font-family: Oswald;
    font-size:7px;
    font-weight: 100;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 100vh;
    }

#quotes-by {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    color: rgba(255,255,255,.9);
    justify-content: right;
    text-align: left;
    font-size: .7rem;
    font-family: 'Oswald', sans-serif;
    background-image: linear-gradient(to left, rgb(67, 55, 114), rgb(69, 99, 161));
    font-weight: 100;
    position: absolute;
    top: 1px;
}

h1 {
    padding-right: 30px;
}

#tookul {
    width: 50px;
    height: 50px;
    margin: 17px;

}

.quote-container {
    position: absolute;
    top: 35%;
    margin: 5px 5px;
    width:auto 10px;
    max-width: 900px;
    padding: 17px 17px;
    border-radius:10px;
    background-color: rgba(255,255,255,.5);
    box-shadow: 0 10px 10px 10px rgba(0,0,0,0.2);
  }

.quote-text {
    font-size: 2.75rem;
    margin-bottom: 1px;
}

.long-quote {
    font-size: 2rem;
}

.fa-angle-double-left {
    font-size: 2rem;
}

.fa-angle-double-right {
    font-size: 2rem;
}

.quote-author {
    margin-top: 1px;
    font-size: 2rem;
    font-weight: 200;
    font-style: italic;
}


.button-container {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}


button {
    cursor:pointer;
    font-size: 1.2rem;
    border: none;
    border-radius: 10px;
    color:#fff;
    background-image: linear-gradient(to left, rgb(67, 55, 114), rgb(69, 99, 161));
    outline: none;
    padding: .5rem 1.8rem;
    box-shadow: 0 0.3rem 1px rgba(121,121,121,0.65)
}

button:hover {
    filter: brightness(110%);
    transform: scale(105%);
}

button:active {
    transform: translate(0, 0.3rem);
    box-shadow: 0 0.1rem rgba(255,255,255, 0.1);
   
}

.twitter-button:hover {
    transform:scale(105%);
}


/* Media Query */
@media only screen and (min-width: 1000px){
    .quote-container {
        margin: auto 10px;
    }

    .quote-text{
        font-size: 2rem;
    }

    .quote-author {
        font-size: 2rem;
    }

}

footer {
    background-image: linear-gradient(to left, rgb(67, 55, 114), rgb(69, 99, 161));
    width: 100vw; display: flex; flex-wrap: wrap; align-self: flex-end;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: bold;
    color:rgba(255,255,255,1);
    font-weight: 100;

}



/* Loader */

.loader {
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid #333; /* Blue */
    border-radius: 50%;
    width: 1px;
    height: 1px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

a {
    color: whitesmoke;
}
  
